@use "./variables" as *;
@use "./typography" as *;
@use "./colors" as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
};

@mixin large-tablet {
    @media (min-width: $large-tablet-breakpoint) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
};

@mixin details-styles {
    background-color: $light-shades;
    color: $dark-shades;
    padding: 1.2rem;
    margin: 3rem 5rem;
    border-radius: 5px;
    transition: 0.4s;
    min-height: calc(100vh - 17.2rem);
    
    @include tablet{
        padding: 1rem 3.5rem;
        margin: 2rem 10rem;
    }

    @include desktop {
        margin: 2rem 15rem;
    }

    p {
        font-family: $font-karla;
        font-size: 1rem;
        
        @include tablet{
            font-size: 1.2rem;
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        height: 3rem;
        margin-right: 5%;
        
        @include tablet {
            height: 5rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-family: $font-lora;

        @include tablet {
            font-size: 3rem;
        }
    }
    
    &__inv {
        width: 100%;
    }

    &__subtitles {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        border-top: 1px solid $dark-shades;
        padding-top: 1rem;
        margin-top: 0;
    }
    
    &__info {
        display: flex;
        width: 100%;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        justify-content: space-between; 
        border-bottom: dotted 1px $dark-shades;
        text-decoration: none;
    }

    &__data {
        width: 18%;
    }

    &__delete {
        width: 25px;
        background-color: $light-shades;
        border: none;
        margin-right: 0.8rem;
    }

    &__back {
        height: 25px;
    }
}

@mixin dash-styles {
    margin: 0rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 17.2rem);
    justify-content: center;
    font-family: $font-karla;

    @include tablet {
        margin-left: 12%;
        margin-right: 12%;
    }

    @include large-tablet {
        margin-left: 20%;
        margin-right: 20%;
    }

    @include desktop {
        margin-left: 27%;
        margin-right: 27%;
    }

    &__button {
        background-color: $main;
        box-shadow: 0px 5px 15px $card-shadow;
        display: flex;
        flex-direction: column;
        margin-top: -2rem;
        width: 9rem;
        border-radius: 5px;
        justify-content: center;
        padding: 1.5rem;
        height: 12rem;
    }
    
    &__link {
        background-color: $light-shades;
        padding: 1rem;
        border-radius: 5px;
        margin: 2rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 15px $card-shadow;
    }

    &__icon {
        padding-bottom: 0.5rem;
    }

    &__subtitles {
        color: $dark-shades;
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0;
    }
}