@use "./variables" as *;
@use "./colors" as *;

@mixin tablet {
    @media (min-width: $tablet-breakpoint) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: $desktop-breakpoint) {
        @content;
    }
};

@mixin details-styles {
    color: $graphite;
    margin: 2rem 5rem;

    @include tablet {
        margin: 2rem 10rem;
    }

    @include desktop {
        margin: 2rem 20rem;
    }

    &__top {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon {
        height: 5rem;
    }

    &__title {
        font-size: 3rem;
    }
    
    &__inv {
        width: 100%;
    }

    &__subtitles {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        border-top: 1px solid $graphite;
        padding-top: 1rem;
        margin-top: 0;
    }
}

@mixin dash-styles {
    margin: 0rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include tablet {
        margin-left: 14.5%;
        margin-right: 14.5%;
    }

    @include desktop {
        margin-left: 25%;
        margin-right: 25%;
    }

    &__button {
        background-color: $sage;
        box-shadow: 8px 8px 10px $graphite;
        display: flex;
        flex-direction: column;
        width: 10rem;
        border-radius: 25px;
        justify-content: flex-end;
        padding: 1.5rem;
        height: 14rem;
    }
    
    &__link {        
        margin: 2rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }

    &__icon {
        padding-bottom: 0.5rem;
    }

    &__subtitles {
        color: $graphite;
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0;
    }
}