@font-face {
    font-family: 'Lora';
    src: url(../assets/fonts/Lora-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url(../assets/fonts/Lora-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}

$font-lora: 'lora', sans-serif;

$font-karla: 'karla', sans-serif;