@use "../../styles/colors" as *;

.nav {
    margin: 0;
    display: flex;
    height: 4rem;
    padding: 1.1rem 2rem;
    background-color: $sage;
    justify-content: space-between;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0px 5px 10px $graphite;

    &__logo {
        margin: 0.2rem;
    }    
    
    &__drop {
        margin: 0.5rem;
    }
}