@use "../../styles/colors" as *;

.nav {
    margin: 0;
    display: flex;
    height: 4rem;
    padding: 1.1rem 2rem;
    background-color: $main;
    justify-content: space-between;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0px 5px 15px $card-shadow;

    &__logo {
        height: 3.4rem;
        margin: 0.2rem;

    }
    
    &__logo:hover {
        background-color: $selected-main;
    }

    &__drop-icon {
        margin-top: 0.2rem;
        height: 2rem;
        list-style: none;
    }

    &__drop {
        height: 3rem;
    }
}